.container {
  display: flex;
}

.leftContainer {
  text-align: left;
  border: 0.1em solid black;
  min-height: 80vh;
  width: 30%;
}

.folderContainer {
  margin-top: 1em;
}

.buttonContainer {
  margin-top: 1em;
}

.button {
  margin-right: 0.5em;
}

.rightContainer {
  text-align: left;
  border: 0.1em solid black;
  min-height: 80vh;
  width: 70%;
}

.photoContainer {
  margin-top: 1em;
}

.notificationContainer {
  margin: 1em;
}
