.linksContainers {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.link {
  font-size: 1em;
  display: inline-block;
  text-decoration: none;
  color: grey;
  margin-right: 6em;
  background-color: white;
  cursor: pointer;
}

.activeLink {
  composes: link;
  color: cyan;
}

.link:hover {
  color: cyan;
}

.submenuContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.container {
  margin-bottom: 3em;
}
