.linksContainers {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.link {
  display: inline-block;
  text-decoration: none;
  color: grey;
  margin-right: 1em;
}

.activeLink {
  composes: link;
  color: cyan;
}

.link:hover {
  color: cyan;
}
