.container {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  object-fit: contain;
}
