.container {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
}

.photoContainer {
  flex-grow: 1;
  width: 19%;
  margin-right: 1%;
  margin-bottom: 0.5%;
  cursor: pointer;
}

.photoImage {
  object-fit: cover;
  width: 12.5em;
  height: 12.5em;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  width: 1em;
  height: 1em;
}

.closeButton:before {
  content: '✕';
}

.bigPhotoContainer {
  position: relative;
}
